<html>
<head>
	{{pg['hd1']}}
	{{pg['hd2']}}
	{{pg['hd3']}}
</head>
<body>
	{{pg['bt1']}}
	{{pg['bt2']}}
	{{pg['desc']}}
	{{pg['bb1']}}
	{{pg['bb2']}}
	<ul>
	 {% for c in pg.Contents %}
        <li>{{ c.Description | raw }}</li>
    {% endfor %}
</ul>
</body>
</html>